<%= form_with(model: reference) do |form| %>
  <% if reference.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reference.errors.count, "error") %> prohibited this reference from being saved:</h2>

      <ul>
        <% reference.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :ref_code %>
    <%= form.text_field :ref_code %>
  </div>

  <div class="field">
    <%= form.label :destination_id %>
    <%= form.number_field :destination_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
